<%= form_for @address, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :merchant_id %>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :landmark %><br />
    <%= f.text_field :landmark %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :pincode %><br />
    <%= f.text_field :pincode %>
  </p>
  <p><%= f.submit %></p>
<% end %>